<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FilmManagementDB" connectionString="Data Source=DESKTOP-2I89EEK;Initial Catalog=FilmManagementDB;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>